In [1]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

LABEL

In [28]:
label_path = './data/label_train.csv'
label = pd.read_csv(label_path)

In [7]:
label

       Unnamed: 0  index     MATH
0            6426   6426  520.378
1            6427   6427  563.734
2            6428   6428  597.299
3            6429   6429  421.818
4            6430   6430  511.234
...           ...    ...      ...
25699       32125  32125  396.169
25700       32126  32126  398.557
25701       32127  32127  396.373
25702       32128  32128  247.997
25703       32129  32129  472.111

[25704 rows x 3 columns]

In [32]:
l = label.MATH.to_numpy()

In [33]:
l = l.reshape(l.shape[0], -1)

In [34]:
l.shape

(25704, 1)

In [76]:
# l_fit = scaler.fit_transform(l)
l_fit = l

In [77]:
l_fit

array([[520.378],
       [563.734],
       [597.299],
       ...,
       [396.373],
       [247.997],
       [472.111]])

In [78]:
l_fit = l_fit.reshape(l_fit.shape[0])

In [79]:
l_fit.shape

(25704,)

In [80]:
mask = np.zeros(32130 - l.shape[0])

In [81]:
predict = np.concatenate((mask, l_fit), axis=0)

In [82]:
predict.shape

(32130,)

In [84]:
np.save('./data/raw_label.npy', predict)

LABEL

In [2]:
label = np.load('./data/raw_label.npy')

In [3]:
label[6425], label[6426]

(0.0, 520.378)

In [4]:
label.shape

(32130,)

In [5]:
label = label.reshape(label.shape[0], -1)

In [6]:
label.shape

(32130, 1)

DIY

In [88]:
DIY = np.load('./data/DIY.npy')

In [89]:
DIY.shape

(32130, 14)

In [90]:
DIY_without_rpt = np.delete(DIY, -1, axis=1)

In [91]:
DIY_without_rpt.shape

(32130, 13)

In [95]:
data_concat = np.concatenate((DIY_without_rpt, label), axis=1)

In [96]:
data_concat[6425][-1]

0.0

In [97]:
data_concat[6426][-1]

520.378

In [98]:
trainset = data_concat[6426:,:]

In [99]:
trainset.shape

(25704, 14)

In [100]:
np.save('./data/DIYwithrawL.npy', trainset)

DATA(406)

In [7]:
data = np.load('./data/data.npy')

In [8]:
data.shape

(32130, 406)

In [9]:
data = np.delete(data, 0, axis=1)

In [10]:
data.shape

(32130, 405)

In [11]:
DatawithL = np.concatenate((data, label), axis=1)

In [12]:
DatawithL.shape

(32130, 406)

In [15]:
DatawithL[6425][-1], DatawithL[6426][-1]

(0.0, 520.378)

In [22]:
D_test = DatawithL[:6426,:]

In [23]:
D_test.shape

(6426, 406)

In [17]:
D_train = DatawithL[6426:,:]

In [21]:
np.save('./data/D_test.npy', D_test)

In [152]:
np.save('./data/DatawithrawL.npy', D_train)

TOP100FEATS

In [153]:
top100feats = np.load('./data/top100feats.npy')

In [154]:
top100feats.shape

(32130, 100)

In [156]:
trainset = np.concatenate((top100feats, label), axis=1)

In [159]:
trainset.shape

(32130, 101)

In [160]:
T100_train = trainset[6426:,:]

In [164]:
np.save('./data/T100withrawL.npy', T100_train)