In [4]:
import pandas as pd
import numpy as np

In [6]:
label_path = './data/label_train.csv'
label = pd.read_csv(label_path)

In [7]:
label

       Unnamed: 0  index     MATH
0            6426   6426  520.378
1            6427   6427  563.734
2            6428   6428  597.299
3            6429   6429  421.818
4            6430   6430  511.234
...           ...    ...      ...
25699       32125  32125  396.169
25700       32126  32126  398.557
25701       32127  32127  396.373
25702       32128  32128  247.997
25703       32129  32129  472.111

[25704 rows x 3 columns]

In [14]:
l = label.MATH.to_numpy()

In [15]:
l

array([520.378, 563.734, 597.299, ..., 396.373, 247.997, 472.111])

In [20]:
mask = np.zeros(32130 - l.shape[0])

In [21]:
predict = np.concatenate((mask, l), axis=0)

In [24]:
np.save('./data/label.npy', predict)

In [25]:
label = np.load('./data/label.npy')

In [26]:
label.shape

(32130,)